body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

ul {
    margin-right: 30px;
}

li {
    display: inline;
    margin: 5px;
}

a {
    text-decoration: none;
    color: slateblue;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: black;
}

section{
    background-color: white;
    margin: 0px 100px 40px;
    padding: 30px 50px;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 80px;   
}

article {
    border-bottom: 2px solid slateblue;
    margin-bottom: 30px;
}

footer {
    background-color: slateblue;
    padding: 10px;
}

h5 {
    color: white;
    text-align: center;
}